:root {
  --cor-principal: #6C63FF;
  --cor-secundaria: #ffffff;
  --fundo: #f4f6fb;
}

body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: var(--fundo);
}

header {
  background: var(--cor-principal);
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.botao-principal {
  display: block;
  margin: 20px auto;
  padding: 12px 20px;
  background: var(--cor-principal);
  color: white;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.botao-principal:hover {
  opacity: 0.8;
}

main {
  padding: 20px;
}

.receita {
  background: white;
  border-radius: 20px;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}

.receita h3 {
  margin-top: 0;
  color: var(--cor-principal);
}

.receita img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 25px;
  display: block;
  margin: 10px auto;
}



.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
}

.modal-content {
  background: white;
  margin: 10% auto;
  padding: 20px;
  width: 90%;
  max-width: 400px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input, textarea, select {
  padding: 10px;
  border-radius: 15px;
  border: 1px solid #ddd;
  font-size: 14px;
}

button {
  padding: 10px;
  border-radius: 25px;
  border: none;
  background: var(--cor-principal);
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  opacity: 0.85;
}

